@using MySql.ETyhy.Web.Startup
@using MySql.ETyhy.ComPay.Dtos;
@model Abp.Application.Services.Dto.PagedResultDto<ComasListDto>
    @{
        ViewBag.CurrentPageName = PageNames.Comas; // The menu item will be active for this page.
    }
    @section scripts
    {
        <environment names="Development">
            <script src="~/view-resources/Views/Comas/index.js" asp-append-version="true"></script>
        </environment>
    }
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        @L("ComsaTitle")
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@L("TName")</th>
                                <th>@L("OverTime")</th>
                                <th>@L("MaxPersons")</th>
                                <th>@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model.Items)
                            {
                            <tr>
                                <td>@role.TName</td>
                                <td>@role.OverTime</td>
                                <td>@role.MaxPersons</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-Comas" data-Comas-id="@role.Id" data-toggle="modal" data-target="#ComasCreateModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-role" data-Comas-id="@role.Id" data-Comas-name="@role.TName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#ComasCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ComasCreateModal" tabindex="-1" role="dialog" aria-labelledby="ComasCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateNewComas")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="ComasCreateForm" role="form" novalidate class="form-validation">
                        <input type="hidden" id="Id" name="Id" />
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="rolename" type="text" name="NameTXT" required maxlength="32" minlength="2" class="validate form-control">
                                        <label for="rolename" class="form-label">@L("TName")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="datetimepicker" type="text" name="OverTime" required maxlength="32" minlength="2" class="validate form-control">
                                        <label for="displayname" class="form-label">@L("OverTime")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="datetimepicker" type="text" name="OverTime" required maxlength="32" minlength="2" class="validate form-control">
                                        <label for="displayname" class="form-label">@L("MaxPersons")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog" aria-labelledby="RoleEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

